/* =========================================google fonts============================================== */
@import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
.rubik {
  font-family: "Rubik", sans-serif;
  font-style: normal;
}
/* ========================================= end google fonts============================================== */

/* ================================ Universal selector and root applying for color================================== */
* {
  padding: 0;
  margin: 0;
  font-family: "Rubik";
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
:root {
  --header-bg-color: #e74694;
  --header--text-color: #fdffff;
  --bg-color: #ffffff;
  --second-bg-color: #183b56;
  --third-bg-color: #ebf2fa;
  --heading--text-color: #183b56;
  --footer-color: #b9cde4;
  --footer-text-color: #577592;
  --boder-color: #2294ed;
}
/* ===================================== end Universal selector and root applying================================== */

/* ==========================header/navbar flex container ======================================== */
/* ==========================container 1  */

.header-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #e74694;
  color: var(--header--text-color);
  background-image: url(./images/asset\ 28.png);
  width: 100%;
  height: 3rem;
  background-size: 250px;
  font-weight: 400;
  letter-spacing: 1px;
}
/* ========================== end of container 1  */

/* ========================== container 2  */
.header-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}
/* /////image logo/////// */

.logo-img {
  width: 15rem;
  align-self: baseline;
  animation: floatLogo 4s ease-in-out infinite;
}

@keyframes floatLogo {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(0.8rem);
  }

  100% {
    transform: translateX(0);
  }
}
/* ///////end of ing logo///// */
/* ////////header-container2-btn////// */
.header-container2-btn {
  display: flex;
  gap: 2rem;
}
.sign-in,
.sign-up {
  font-size: 16px;
  width: 6.5rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--boder-color);
  transition: 0.5s ease;
}
.sign-in {
  background-color: transparent;
  color: var(--heading--text-color);
}
.sign-up {
  background-color: var(--boder-color);
  color: var(--header--text-color);
}
/* hover and active */
.sign-in:hover {
  background-color: var(--boder-color);
  color: var(--header--text-color);
  cursor: pointer;
}
.sign-in:active {
  background-color: var(--boder-color);
  color: var(--header--text-color);
  cursor: pointer;
  font-size: 15.5px;
}
.sign-up:hover {
  background-color: var(--header--text-color);
  color: var(--boder-color);
  cursor: pointer;
  transition: 0.5s ease;
}

.sign-up:active {
  background-color: var(--header--text-color);
  color: var(--boder-color);
  cursor: pointer;
  font-size: 15.5px;
}
/* hover and active */
/* /////////header-container2-btn end of  */

/* &&&&&&&&&&&& header 2 link &&&&&&&header-container2-link&&&&&&&&& */
.header-container2-link {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.header-container2-link a {
  color: var(--heading--text-color);
  transition: 0.5s ease;

}
.header-container2-link a:hover {
  color: var(--heading--text-color);
  box-shadow: 0rem 0.1rem 0.2rem;
}
/* &&&&&&&&&&&& end header 2 link &&&&&&&header-container2-link&&&&&&&&& */

/* ========================== end of container 2  */

/* ==========================header/navbar flex container ======================================== */

/* ************************ sec 1 top heading and top img ******************************** */
.sec1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  /* background-color: red; */
  width: 100%;
  gap: 1rem;
  margin-top: 3rem;
  padding: 1rem;
}
/* ////left///// */
.top-heading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* background-color: yellow; */
}
.top-heading h1 {
  color: var(--heading--text-color);
  font-size: 3rem;
  letter-spacing: 1px;
  /* background-color: purple; */
  max-width: 31rem;
}
.top-heading p {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--heading--text-color);
  margin-top: 1.5rem;
  max-width: 31rem;
}

/* ////left end///// */
/* ************** right ********** */
.top-img img {
  /* background-color: yellow; */
  width: 40vw;
  height: 30rem;
}
.getting-started {
  margin-top: 1.5rem;
  font-size: 16px;
  width: 10rem;
  height: 3.5rem;
  border-radius: 0.7rem;
  border: 1px solid var(--boder-color);
  background-color: var(--boder-color);
  color: var(--header--text-color);
  transition: 0.5s ease;
}
.getting-started:hover {
  background-color: var(--header--text-color);
  color: var(--boder-color);
  cursor: pointer;
}

.getting-started:active {
  background-color: var(--header--text-color);
  color: var(--boder-color);
  cursor: pointer;
  font-size: 15.5px;
}
.sec1-para {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--heading--text-color);
}

/* ************** right end********** */
/* ************************ sec 1 top heading and top img ******************************** */
/* ///////////////////////////////sec 2 companies logo ////////////////////////////// */
.companies-logo{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin-top: 2rem;
gap: 2rem;
}
.companies-logo img{
  width: 120px;
  height: 74px;
}
/* ///////////////////////////////sec 2 companies logo end ////////////////////////////// */


/* ///////////////////////////////sec 3  ////////////////////////////////////////////// */

/* <!-- //////////////////////features container ////////////////// - */
.features-container{
  background-image: url(./images/asset\ 29.svg);
  background-repeat: no-repeat;
  background-position: center;
  size: 64% 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 20px;
}
.features-header {
  font-weight: 600;
  padding-top: 6em;
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--heading--text-color);
}
.features-button{
  text-align: center;
  margin-top: 1rem;
}
.features-btn{
  font-size: 1rem;
  width: 12rem;
  height: 2.5rem;
  font-weight: 400;
  border-radius: 0.4rem;
  border: 1px solid var(--boder-color);
  background-color: transparent;
  color: var(--heading--text-color);
  transition: .5s ease;

}
.features-btn:hover, .rarr:hover{
  background-color:var(--boder-color);
  color: var(--header--text-color);
  cursor: pointer;
}
.features-btn:active{
  font-size: 0.98rem;
  box-shadow: -.1rem -.1rem .1rem inset var(--heading--text-color);
}
/* ///////////feature cards/////////////// */
.features-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 40px;
  padding-bottom: 100px;
}
.features-card {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  max-width: 30%;
  text-align: center;
}
.features-card h3{
  color: var(--heading--text-color);
}
.features-card p{
  color: var(--heading--text-color);
}
.features-card img{
  width: 40px;
  height: 60p
}
.rarr{
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--);
}
/* <!-- //////////////////////features container end////////////////// - */
  /* ///////////////////////////////sec 3 end //////////////// ////////////////////////////// */
  
  /* ****************************************sec 4 longest sec **********************************/
  /* main container ///////////////////////////*/
  .sec4-longest-sec{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1.2rem;
  }
  /* /////////////////////////////////////////// */
  /* sec 4a */
  .longest-sec-a{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-evenly;
  }
  .longest-sec-a-img{
    width: 34vw;
  animation: floatImage 4s ease-in-out infinite;
  }
  @keyframes floatImage {
    0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(0.8rem);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  .sec-4a-content{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 24rem;
  }
  .longest-sec-a-top-text{
    font-size: 1rem;
    color: var(--heading--text-color);
  }
  .sec-4a-content h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: var(--heading--text-color);
  }
  .sec-4a-content p{
    font-size: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .sec-4a-content img{
    width: 120px;
  }
  .qouted-text-div{
    background-image: url(./images/asset\ 30.svg);
    background-position: top left;
    background-repeat: no-repeat;
    padding-inline: calc(30px);
    padding-top: 20px;
}
.qouted-text-div p{
  font-size: 1rem;
  color: var(--heading--text-color);
  line-height: 21px;
  font-weight: 300;
}
.human-sec{
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 7px;
  padding-inline: 1.2rem;
}
.human-sec img{
  width: 60px;
}
.human-content p{
  display: block;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: var(--heading--text-color);
}
/* ////////////////// SEC 4b */
.longest-sec-b{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-evenly;
}
.longest-sec-b-img{
  width: 34vw;
animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(0.8rem);
  }

  100% {
    transform: translateY(0);
  }
}
/* ////////////////// SEC 4b end*/
/* ////////////////// SEC 4c */
.longest-sec-c{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-evenly;
}
.longest-sec-c-img{
  width: 34vw;
animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(0.8rem);
  }

  100% {
    transform: translateY(0);
  }
}
/* ////////////////// SEC 4c end */
  /* ****************************************sec 4 longest sec end **********************************/
  .features-header {
    font-weight: 700;
    padding-top: 6rem;
    letter-spacing: 1.1px;
    text-align: center;
    display: block;
    font-size: 1.5rem;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* /////////////////////////////////////////////////sec 5 cards /////////////////////////////////// */
.sec5-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  gap: 25px;
  width: 100%;
}

.card {
  width: 15rem;
  height: 300px;
  overflow: hidden;
  border: 2px solid #ddd;
  position: relative;
  transition: .5s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(17, 17, 17, 0.516);
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
  color: #ffffffe7;
  background: rgba(0, 0, 0, 0.389);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.card-heading {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.card-text {
  font-size: 0.9rem;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
/* /////////////////////////////////////////////////sec 5 cards end/////////////////////////////////// */

/* /////////////////////////////////////////////////sec 6 cards /////////////////////////////////// */
.try-panel {
  margin-top: 3em;
  background-color: var(--heading--text-color);
}
.try-panel-inside {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.left-panel {
  width: 540px;
  padding-top: 3em;
  padding-inline: 1.2rem;
}
.right-panel {
  width: 38vw;
  height: 600px;
  background-image: url(./images/asset\ 29.svg),url(./images/asset\ img.png);
  background-repeat: no-repeat;
  background-size: 18vw 35vh, 99% 90%;
  background-position: center, top 20px center;
  text-align: center;
}
.right-panel {
  font-size: 1rem;
  color: var(--heading--text-color);
}
.right-panel-inside {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left-panel h1 {
  color: var(--header--text-color);
  font-size: 2em;
}
.left-panel p {
  font-size: 1rem;
  margin-top: 20px;
  color: #b9cde4;
}
.left-panel h2 {
  color: white;
  margin: 20px 0px 20px 0px;
}
.grid-layout {
  display: grid;
  grid-template-columns: repeat(2,300px);
}
.grid {
  padding-left: var(--padding-primary);
  color: #b9cde4;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.buttons-section {
  margin: 4rem 0px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.button-primary {
  background-color: #2294ed;
  padding: 12px 24px;
  color: white;
  border-radius: 8px;
  transition: .5s ease-in-out;
}
.button-primary:hover {
  background-color: var(--header--text-color);
  color: var(--boder-color) ;
}
.button-secondary {
  padding: 12px 24px;
  border: 1px solid var(--header--text-color);
  border-radius: 8px;
  transition: .5s ease-in-out;
}
.button-secondary:hover {
  background-color: var(--boder-color);
  color: var(--header--text-color);
}
.learn {
  border-color: #b9cde4;
  color: #b9cde4;
}
a {
  text-decoration: none;
  display: inline-block;
}

/* /////////////////////////////////////////////////sec 6 cards end/////////////////////////////////// */
/* ************************************** sec 7 ****************************** */
.st-panel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 4rem;
}
.st-panel .button-primary:hover{
background-color: var(--heading--text-color);
color: var(--header--text-color)  ;
}
/* ************************************** sec 7 ****************************** */


/* ////////////////////////////////////////// footer ////////////////////////////// */
footer {
  padding-top: 5em;
  background-color: #ebf2fa;
}
.footer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  padding-inline: 1.2rem;
}
.logo-footer img {
  width: 230px;
}
.grid-layout-footer {
  display: flex;
  column-gap: 50px;
}
.grid-layout-footer h3{
  color: var(--heading--text-color);
  margin-bottom: 1rem;
}
.grid-layout-footer li {
  color: var(--heading--text-color);
  font-weight: 300;
  /* line-height: 24px; */

}
/* ////////////////////////////////////////// footer ////////////////////////////// */
/* MMMMMMMMMMMMMMMMMMMMMMMMMMMM MEDIA SCREEN MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM */
/* //////////for max 1200px//////////// */
@media only screen and (max-width: 1200px) {
  p {
    font-size: 0.8rem;
  }
  .logo-img {
    width: 10rem;
  }
  .header-container2-link {
    display: flex;
    gap: 0.8rem;
  }
  .header-container2-link a {
    font-size: 0.8rem;
  }
  .header-container2-btn {
    display: flex;
    gap: 1rem;
  }
  .sign-in,
  .sign-up {
    font-size: 14px;
    width: 5.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
  }
  .top-img img {
    width: 30vw;
    height: 15rem;
  }
  .top-heading h1 {
    font-size: 2rem;
    max-width: 21rem;
  }
  .top-heading p {
    font-size: 0.8rem;
    max-width: 21rem;
  }
  .getting-started {
    font-size: 12px;
    width: 8rem;
    height: 2rem;
    border-radius: 0.3rem;
  }
  .getting-started:active {
    font-size: 11.5px;
  }
  .the-world-best {
    font-size: 0.9rem;
    font-weight: 400;
  }
  .try-panel-inside {
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap-reverse;
}
.left-panel {
  width: 100vw;
  text-align: center;
  padding-top: 0;
  padding-inline: 0;
}
.left-panel h1 {
  color: var(--header--text-color);
  font-size: 1.4em;
}
.left-panel p {
  margin-top: 20px;
  color: #b9cde4;
  text-align: center;
  padding: 0 1rem;
}
.buttons-section {
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
.grid-layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  text-align: center;
}
}
/* //////////end for max 1200px//////////// */

/* ...................for max 650px........... */
@media only screen and (max-width: 650px) {
  p {
    font-size: 0.8rem;
  }
  .logo-img {
    width: 6rem;
  }
  .header-container2-link {
    display: flex;
    gap: 0.4rem;
  }
  .header-container2-link a {
    font-size: 0.8rem;
  }
  .header-container2-btn {
    display: flex;
    gap: 0.5rem;
  }
  .sign-in,
  .sign-up {
    font-size: 10px;
    width: 3.2rem;
    height: 1.5rem;
    border-radius: 0.4rem;
  }
  .sign-up:active, .sign-in:active{
    font-size: 9.5px;
  }
  .sec1 {
    display: flex;
    flex-direction: column-reverse;
  }
  .top-img img {
    width: 20rem;
    height: 10rem;
  }

  .the-world-best {
    font-size: 0.9rem;
    font-weight: 400;
    width: 20rem;
  }
  .getting-started:active {
    font-size: 11.5px;
  }
    .features-header{
      font-size: 1.2rem;
    min-width: 12rem;
    }
  .features-card-container {
  flex-direction: column;
}
.features-card h3{
  min-width: 12rem;
}
.features-card-para{
  min-width: 12rem;
}
.right-panel {
  width: 100vw;
  height: 350px;
  background-image: url(./images/asset\ 29.svg),url(./images/asset\ img.png);
  background-repeat: no-repeat;
  background-size: 25vw 22vh, 75% 95%;
  background-position: center, top 20px center;
  text-align: center;
}
.grid-layout {
display: grid;
grid-template-columns: none;
grid-template-rows: 70% 70%;
justify-content: center;
text-align: left;
}
.right-panel-inside {
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 8px;
font-weight: bold;
}
.grid {
padding: none;
font-size: 16px;
}
.right-panel-inside {
font-size: 10px;
font-weight: bold;
}
.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-layout-footer{
  display: flex;
  flex-direction: column;
}
.grid-layout-footer h3{
  margin-top: 1rem;
}
.logo-footer img{
  width: 180px;

}
}
/* ...................end for max 650px........... */

/* ///////////////for max 430 ///////////////////// */
@media only screen and (max-width: 450px) {
  .header-container1 p {
    text-align: center;
  }
  p {
    font-size: 0.8rem;
  }
  .header-container2 {
    flex-direction: column;
    text-align: center;
    gap: 0.6rem;
  }
  .logo-img {
    width: 10rem;
    text-align: center;
  }
  .header-container2-link {
    display: flex;
    gap: 0.8rem;
  }
  .header-container2-link a {
    font-size: 0.8rem;
  }
  .header-container2-btn {
    display: flex;
    gap: 1rem;
  }
  .sign-in,
  .sign-up {
    font-size: 12px;
    width: 4.5rem;
    height: 2rem;
    border-radius: 0.4rem;
  }
  .sign-up:active, .sign-in:active{
    font-size: 11.5px;
  }
  .sec1 {
    display: flex;
    flex-direction: column-reverse;
  }
  .top-img img {
    width: 15rem;
    height: 8rem;
  }
  .top-heading h1 {
    font-size: 1.4rem;
    max-width: 15rem;
  }
  .top-heading p {
    font-size: 0.8rem;
    max-width: 15rem;
    margin-top: 1rem;
  }
  .getting-started {
    font-size: 10px;
    width: 6rem;
    height: 1.5rem;
    border-radius: 0.2rem;
    margin-top: 1rem;
  }
  .getting-started:active {
    font-size: 9.5px;
  }
  .the-world-best {
    font-size: 0.9rem;
    font-weight: 400;
    width: 15rem;
  }
  .companies-logo{
    margin-top: 1.5rem;
    gap: 1.5rem;
    }
    .companies-logo img{
      width: 100px;
      height: 60px;
    }
    .right-panel {
      width: 100vw;
      height: 350px;
      background-image: url(./images/asset\ 29.svg),url(./images/asset\ img.png);
      background-repeat: no-repeat;
      background-size: 33vw 28vh, 99% 90%;
      background-position: center, top 20px center;
      text-align: center;
  }
  .grid-layout {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 50% 50%;
    justify-content: center;
    text-align: left;
  }
  .right-panel-inside {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    font-weight: bold;
}
.grid {
  padding: none;
  font-size: 13px;
}
.right-panel-inside p{
  font-size: 10px;
  font-weight: bold;
}
}
/* /////////////// end for max 430 ///////////////////// */

/* MMMMMMMMMMMMMMMMMMMMMMMMMMMM MEDIA SCREEN MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM */
