/* =========================================google fonts============================================== */
@import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
.rubik {
  font-family: "Rubik", sans-serif;
  font-style: normal;
}
/* ========================================= end google fonts============================================== */

/* ================================ Universal selector and root applying for color================================== */
* {
  padding: 0;
  margin: 0;
  font-family: "Rubik";
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
:root {
  --header-bg-color: #e74694;
  --header--text-color: #fdffff;
  --bg-color: #ffffff;
  --second-bg-color: #183b56;
  --third-bg-color: #ebf2fa;
  --heading--text-color: #183b56;
  --footer-color: #b9cde4;
  --footer-text-color: #577592;
  --boder-color: #2294ed;
}
/* ===================================== end Universal selector and root applying================================== */

/* ==========================header/navbar flex container ======================================== */
/* ==========================container 1  */

.header-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #e74694;
  color: var(--header--text-color);
  background-image: url(./images/asset\ 28.png);
  width: 100%;
  height: 3rem;
  background-size: 250px;
  font-weight: 400;
  letter-spacing: 1px;
}
/* ========================== end of container 1  */

/* ========================== container 2  */
.header-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}
/* /////image logo/////// */

.logo-img {
  width: 15rem;
  align-self: baseline;
  animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(0.8rem);
  }

  100% {
    transform: translateX(0);
  }
}
/* ///////end of ing logo///// */
/* ////////header-container2-btn////// */
.header-container2-btn {
  display: flex;
  gap: 2rem;
}
.sign-in,
.sign-up {
  font-size: 16px;
  width: 6.5rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--boder-color);
}
.sign-in {
  background-color: transparent;
  color: var(--heading--text-color);
}
.sign-up {
  background-color: var(--boder-color);
  color: var(--header--text-color);
}
/* hover and active */
.sign-in:hover {
  background-color: var(--boder-color);
  color: var(--header--text-color);
  cursor: pointer;
  transition: 0.5s ease;
}
.sign-in:active {
  background-color: var(--boder-color);
  color: var(--header--text-color);
  cursor: pointer;
  font-size: 15.5px;
}
.sign-up:hover {
  background-color: var(--header--text-color);
  color: var(--boder-color);
  cursor: pointer;
  transition: 0.5s ease;
}

.sign-up:active {
  background-color: var(--header--text-color);
  color: var(--boder-color);
  cursor: pointer;
  font-size: 15.5px;
}
/* hover and active */
/* /////////header-container2-btn end of  */

/* &&&&&&&&&&&& header 2 link &&&&&&&header-container2-link&&&&&&&&& */
.header-container2-link {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.header-container2-link a {
  color: var(--heading--text-color);
}
.header-container2-link a:hover {
  color: var(--heading--text-color);
  transition: 0.5s ease;
  box-shadow: 0rem 0.1rem 0.2rem;
}
/* &&&&&&&&&&&& end header 2 link &&&&&&&header-container2-link&&&&&&&&& */

/* ========================== end of container 2  */

/* ==========================header/navbar flex container ======================================== */

/* ************************ sec 1 top heading and top img ******************************** */
.sec1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  /* background-color: red; */
  width: 100%;
  gap: 1rem;
  margin-top: 3rem;
  padding: 1rem;
}
/* ////left///// */
.top-heading{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* background-color: yellow; */
}
.top-heading h1{
color: var(--heading--text-color);
font-size: 3rem;
letter-spacing: 1px;
/* background-color: purple; */
max-width: 31rem;
}
.top-heading p{
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--heading--text-color);
  margin-top: 1.5rem;
  max-width: 31rem;
}

/* ////left end///// */
/* ************** right ********** */
.top-img img{
  /* background-color: yellow; */
  width: 40vw;
  height: 30rem;
}
.getting-started{
  margin-top: 1.5rem;
  font-size: 16px;
  width: 10rem;
  height: 3.5rem;
  border-radius: .7rem;
  border: 1px solid var(--boder-color);
  background-color: var(--boder-color);
  color: var(--header--text-color);
}
.getting-started:hover {
  background-color: var(--header--text-color);
  color: var(--boder-color);
  cursor: pointer;
  transition: 0.5s ease;
}

.getting-started:active {
  background-color: var(--header--text-color);
  color: var(--boder-color);
  cursor: pointer;
  font-size: 15.5px;
}
/* ************** right end********** */
/* ************************ sec 1 top heading and top img ******************************** */




/* MMMMMMMMMMMMMMMMMMMMMMMMMMMM MEDIA SCREEN MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM */
/* //////////for max 900px//////////// */
@media only screen and (max-width: 1200px) {
  p {
    font-size: 0.8rem;
  }
  .logo-img {
    width: 10rem;
  }
  .header-container2-link {
    display: flex;
    gap: 0.8rem;
  }
  .header-container2-link a {
    font-size: 0.8rem;
  }
  .header-container2-btn {
    display: flex;
    gap: 1rem;
  }
  .sign-in,
  .sign-up {
    font-size: 14px;
    width: 5.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
  }
  .top-img img{
    width: 30vw;
    height: 15rem;
  }
  .top-heading h1{
    font-size: 2rem;
    max-width: 21rem;
    }
    .top-heading p{
      font-size: 0.8rem;
      max-width: 21rem;
    }
    .getting-started{
      font-size: 12px;
      width: 8rem;
      height: 2rem;
      border-radius: .3rem;
    }
}
/* //////////end for max 900px//////////// */

/* ...................for max 650px........... */
@media only screen and (max-width: 650px) {
  p {
    font-size: 0.8rem;
  }
  .logo-img {
    width: 6rem;
  }
  .header-container2-link {
    display: flex;
    gap: 0.4rem;
  }
  .header-container2-link a {
    font-size: 0.8rem;
  }
  .header-container2-btn {
    display: flex;
    gap: 0.5rem;
  }
  .sign-in,
  .sign-up {
    font-size: 10px;
    width: 3.2rem;
    height: 1.5rem;
    border-radius: 0.4rem;
  }
  .sec1{
    display: flex;
    flex-direction: column-reverse;
  }
  .top-img img{
    width: 20rem;
    height: 10rem;
  }
}
/* ...................end for max 650px........... */

/* ///////////////for max 430 ///////////////////// */
@media only screen and (max-width: 450px) {
  .header-container1 p {
    text-align: center;
  }
  p {
    font-size: 0.8rem;
  }
  .header-container2 {
    flex-direction: column;
    text-align: center;
    gap: 0.6rem;
  }
  .logo-img {
    width: 10rem;
    text-align: center;
  }
  .header-container2-link {
    display: flex;
    gap: 0.8rem;
  }
  .header-container2-link a {
    font-size: 0.8rem;
  }
  .header-container2-btn {
    display: flex;
    gap: 1rem;
  }
  .sign-in,
  .sign-up {
    font-size: 12px;
    width: 4.5rem;
    height: 2rem;
    border-radius: 0.4rem;
  }
  .sec1{
    display: flex;
    flex-direction: column-reverse;
  }
  .top-img img{
    width: 15rem;
    height: 8rem;
  }
  .top-heading h1{
    font-size: 1.4rem;
    max-width: 15rem;
    }
    .top-heading p{
      font-size: 0.8rem;
      max-width: 15rem;
      margin-top: 1rem;
    }
    .getting-started{
      font-size: 10px;
      width: 6rem;
      height: 1.5rem;
      border-radius: .2rem;
      margin-top: 1rem;

    }
}
/* /////////////// end for max 430 ///////////////////// */

/* MMMMMMMMMMMMMMMMMMMMMMMMMMMM MEDIA SCREEN MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM */
